.last-news {
    @include respond(phone) {
        .nft-collection__title .highlight {
            display: unset;
        }

        margin-top: -80px;
        margin-bottom: 50px;
    }

    .article {
        padding: 20px;
        background: #0f0f0f;

        background: url(/background/corner-top-left.svg) 0 0,
            url(/background/corner-top-right.svg) 100% 0,
            url(/background/corner-bottom-left.svg) 0 100%,
            url(/background/corner-bottom-right.svg) 100% 100%, #0f0f0f;
        background-repeat: no-repeat;
        padding: 2.5rem;

        img {
            height: 150px;
            max-width: 100%;
            width: 100%;
            object-fit: cover;

            @include respond(phone) {
                height: 180px;
            }
        }

        .article-title {
            margin-top: 15px;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 600;
            line-height: 1.4;
            color: #ffffff;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .article-date {
            margin-top: 10px;
            text-transform: uppercase;
            color: hsla(0, 0%, 100%, 0.5);
            font-weight: 600;
            font-size: 16px;
        }

        .article-description {
            margin-top: 10px;
            font-size: 15px;
            line-height: 1.8;
            color: hsla(0, 0%, 100%, 0.5);
            display: -webkit-box;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        a.btn-sprited--outlined {
            margin-top: 15px;
            color: #ff2098;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            padding: 1em 1.5em;
            background: transparent;
            position: relative;
            opacity: 0.999;
            text-align: center;
        }

        a.btn-sprited--outlined:after {
            content: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 134 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.685 45.454a1.36 1.36 0 00-.245 0l.049.13c.725 0 1.227-.134.6-.152l1.996-.021c-1.2.166-.415.944.643 1.394.038-.108.038-.202 1.304-.36-.442-.137-2.793-.314-1.73-.53 1.675-.13 1.37.083 2.182.213-.343-.155.191-.267.764-.4.274-.058.54-.134.79-.227a.633.633 0 00.219-.137v0H10.816l.546.133.283-.065h.219l.234.253.464-.26h.42l.169-.061v.061l.06-.065h.027l.027.062h.087l.11-.062.229.058v-.061l.027.061h.027l.147-.061v.061-.065h.006l.054.061.033-.06.245 1.8.066-1.74v1.74h.033l.065-1.74v1.74h.91l.039-1.74.049 1.74h.224l.038-1.74.049 1.74 1.369-1.69.229-.064.114.061.027-.065.06.065v-.065.062l.311-.065.17.061v-.061l.054.061.142-.065.256.061.055-.064.201.06h1.02v.066l.033-.065h.153l.343.057.027-.06.055.06v-.06.06h.213c0 .224-1.773.343-.758.462-1.266.227-2.684.558-4.456.385l-.327-.418c.033.119 1.156.249 1.636.115-.742.184-2.727-.554-3.534 0l1.238.285c-1.27.213-2.841.63-4.412.49.709.4.365-.043 1.473.432-.922-.569 3.653 0 2.628-.504 1.064.468 1.898.198 3.327.684-.044-.144-.546-.277.796-.194.088-.05.185-.092.29-.126h.092-.077c.06-.022.066-.029 0 0a2.05 2.05 0 01-.67-.224c.66-.324 2.765-.31 3.479-.486.78.072-.333.17.093.328l1.063-.263c.104.331 2.078.566.23.75l1.635.028c1.019.212 2.099.263 3.152.148.786.083 1.986-.36 1.298-.105l2.613-.205v.09c2.574.069 5.306-.602 8.24.09a15.468 15.468 0 013.212-.097l.278.339c1.091-.116 3.332.36 3.818 0 1.183.94 5.393-.49 7.346-.318l.081-.468c1.348.033 2.63 1.7 4.303 1.506l-.092-.421c1.445-.36 3.697.291 5.999.248-.158.166-.731.123-1.14.025 2.727.984 5.753-.72 8.213 0 .235-.069.49-.105.747-.105s.512.036.747.105a.473.473 0 00-.153.026h.251c.273.075.546.165.851.234.873.36 1.843.947 1.745.497l-.262-.436h.164c.687.18.545-.23.196-.594.33-.072.644-.172.933-.3.545.786 1.86-.277 2.612.566.447-.385 3.109-.339 3.818-1.03.774.093 1.554.184 2.257-.069l.322.634 1.729-.508c1.042.382 1.472.606.425 1.106 2.515-.774 2.035-.299 4.172-1.08l-.109.418c.764-.022 1.985-.591 2.438-.249 1.69.785 8.42.04 12.778.756-.829-1.253 2.023.548 2.208-.428.251.295.857.461.142.72 2.236-.313 3.343.447 4.908-.392.251.299-.485.443-.261.62.18-.07.714-.267.943-.09.229.176-.332.251-.687.385 2.28-.069 2.525-.995 2.7-1.867 1.15.4 1.723.34 2.568-.24.398.28 1.064.572-.354.687.796.036 4.853.36 4.946-.331.245.176 1.091.043 1.325-.04 1.23.052 2.463.052 3.692 0l-.48-.111a1.14 1.14 0 01.546-.393 3.25 3.25 0 01.682-.054h.588c.039 0 .099 0 .082-.047v-.27-.869-.234c0-.14.038-.288.06-.443.042-.228.056-.458.044-.688l.076.043c.611-3.602-.234-1.545.453-5.087l-.48.199c-1.014-.325.66-3.138.3-5.188l-.278.742c-.333-1.12 1.434-3.142 1.576-4.27.093-.244.136.386.196.721.644-2.95-.611-.36-.72-2.572.338-.407.84.515.922-.962.278-.739-1.009-4.28-.344-6.301-.261.447-.545.89-.703-.13-.066-1.563 1.031-4.233.251-5.642.071-.198.136-.274.202-.284-.191-1.193-.284-3.88-.704-4.597 1.636-1.117-.3-7.307-.3-7.307h-.698v.127h.693l-.693.043h-.082l-.163-.025v0h-.033V3.472v-.13l-1.336-.029v.127h.627c-.205.015-.41.022-.616.021-1.091 0-3.098 0-3.605.054l-3.583-.108c.114.043-.48.108.098.123h1.167-1.167c-.889 0-1.663 0-.502.075-4.281-.13-8.616-.194-12.941-.176h-5.737c-2.389 0-4.767-.033-7.09-.159-.545.022-.25.13-.032.198-1.544-.291-1.49.14-2.34.188l-2.258-.443c-.927.122-.212.263-.283.36-2.116.047-4.2-.054-6.185-.137a2.322 2.322 0 01-.545.068 1.425 1.425 0 01-.66-.111l-.987-.025c-.6 0-1.189-.018-1.762 0-.572.018-1.232.028-1.821.072-1.09-.199.284-.422-1.178-.505 1.892.548-3.818.249-3.13.595-1.468-.559-5.138-.148-4.478-1.01-1.75-.082-1.467.361-.965.448-2.029-.054-3.67-.087-5.345.194a6.385 6.385 0 00-.861-.068v.043h-.055v-.144h-.153v.043l-1.417-.043h-.699l-5.878-.191a7.04 7.04 0 01-1.975-.36c1.211.526-.109.263-1.303.472l1.053.46-3.6-.071V3.19c-.049-.086-.06-.216-.818-.303-1.821-.05-1.92.206-2.934.44l.278.072-1.238.036c-.91-.025 3.234-.44.278-.72-.049.13-1.821.745-2.6.392 1.537.025 1.351-.306.8-.457l-2.126-.065.681.627c-3.817-.054-7.733-.289-11.725-.469l-1.047-.043c-2.029-.086-4.079-.155-6.146-.17.115-.594-4.603-.09-3.986-.98l.245.09c1.603-.057-.43-.72-1.734-.633 1.347.306-2.476.854.823 1.04l-2.563.394c-1.276 1.47-5.35.252-8.944.187-.59-.016-1.18.01-1.761.08a.687.687 0 00.234-.077.413.413 0 00.153-.14 16.506 16.506 0 01-3.605.08L1 45.478l1.685-.025zM128.38 3.45l.791.022h-1.244l.453-.022z' stroke='%23FF2098' stroke-linejoin='round'/%3E%3C/svg%3E");
            position: absolute;
            left: 50%;
            top: 55%;
            transform: translate(-50%, -50%);
            width: 100%;
            z-index: -1;
            min-width: 110px;
        }
    }
}
