@import '../../scss/mixins';

.playVideo {
    min-height: 100vh;
    margin: 0 auto;
    max-width: 160rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(phone) {
        padding: 3rem 1rem 1rem;
        min-height: unset;
        max-width: 100vw;
        text-align: center;
    }

    @include respond(tab-port) {
        min-height: 450px;
        padding: 0rem 5rem;
        padding: 0 2rem;
    }

    @include respond(tab-land) {
        min-height: 450px;
        padding: 0rem 5rem;
        padding: 0 2rem;
    }

    @include respond(desktop) {
        padding: 0rem 10rem;
        max-width: unset;
    }

    @include respond(phone) {
        .informationMobile {
            margin-bottom: 3rem;
        }
    }

    .information {
        color: #ffffff;

        .title {
            font-size: 4.5rem;
            line-height: 6rem;
            font-weight: 700;

            .hightLight {
                color: #c3fb12;
            }

            @include respond(phone) {
                font-size: 4.5rem;
            }
        }

        .description {
            font-size: 1.8rem;
            line-height: 2.8rem;
            font-weight: 600;

            margin-top: 6rem;

            @include respond(phone) {
                margin-top: 3rem;
            }
        }

        .btnWatch {
            color: #ffffff;
            background: linear-gradient(to right, #319795, #38a169);
            font-weight: 600;
            font-size: 3rem;
            line-height: 4.2rem;
            text-transform: uppercase;
            border-radius: 0.7rem;
            width: max-content;
            cursor: pointer;

            transition: 0.5s;

            margin-top: 6rem;

            padding: 0.3rem 2rem;

            @include respond(phone) {
                display: none;
            }
        }

        .btnWatch:hover {
            background: linear-gradient(to right, #e53e3e, #d69e2e);
        }
    }

    .displayVideo {
        height: 35rem;
        position: relative;

        border-radius: 2rem !important;

        -webkit-box-shadow: 0 0px 5px 3px #c3fb12ad;
        -moz-box-shadow: 0 0px 5px 3px #c3fb12ad;
        box-shadow: 0 0px 7px 2px #c3fb12ad;

        @include respond(phone) {
            height: 28rem;
        }
    }
}
