.roadmap {
    min-height: 100vh;

    padding: 10rem 15rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(phone) {
        padding: 10rem 2rem 8rem;
        min-height: unset;
    }

    @include respond(tab-port) {
        padding: 4rem 2rem;
        min-height: 55rem;
        max-width: 70rem;
    }

    @include respond(tab-land) {
        padding: 4rem 2rem;
        min-height: 55rem;
        max-width: 70rem;
    }

    @include respond(desktop) {
        padding: 4rem 5rem;
    }

    .roadmap__heading {
        margin-bottom: 12rem;
        font-weight: 700;

        @include respond(phone) {
            margin-bottom: 6rem;
        }
    }

    .roadmap__item {
        position: relative;

        .roadmap__time {
            font-size: 2.2rem;
            position: absolute;
            font-weight: 600;

            @include respond(phone) {
                font-size: 2rem;
            }

            .dot {
                height: 12px;
                width: 12px;
                border-radius: 50%;
                display: inline-block;
            }
        }

        .roadmap__title {
            height: 4rem;
            color: #ffffff;
            line-height: 4rem;
            padding-left: 1rem;
            font-weight: 600;
            font-size: 2.5rem;
            text-transform: uppercase;

            @include respond(phone) {
                font-size: 2rem;
            }
        }

        .roadmap__detail {
            color: #ffffff;
            margin-top: -36px;
            height: 300px;

            p {
                font-size: 1.7rem;
                padding-left: 10px;
                margin-bottom: 0.8rem;

                @include respond(phone) {
                    font-size: 1.6rem;
                }
            }

            @include respond(phone) {
                height: 180px;
            }
        }

        .roadmap__detail-odd {
            height: 270px;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            p:last-child {
                margin-bottom: 0rem;
            }

            @include respond(phone) {
                height: 240px;
                margin-bottom: 6rem;
            }

            @include respond(tab-land) {
                margin-bottom: 6rem;
            }

            @include respond(tab-port) {
                margin-bottom: 6rem;
            }
        }
    }

    .roadmap__item-1 {
        margin-top: 131px;
        border-left: 2px solid #3e5cac;

        @include respond(phone) {
            margin-top: 2rem;
        }

        .roadmap__time {
            color: #3e5cac;
            top: -23px;
            left: -7px;

            @include respond(phone) {
                top: -18px;
            }

            .dot {
                background-color: #3e5cac;
                margin-right: 7px;
            }
        }

        .roadmap__title {
            background-color: #3e5cac;
        }
    }

    .roadmap__item-2 {
        border-left: 2px solid #fc594b;

        @include respond(phone) {
            margin-top: 11rem;
            margin-bottom: 2rem;
        }

        .roadmap__time {
            color: #fc594b;
            bottom: -23px;
            left: -7px;

            @include respond(phone) {
                bottom: -20px;
            }

            .dot {
                background-color: #fc594b;
                margin-right: 7px;
            }
        }

        .roadmap__title {
            background-color: #fc594b;
        }
    }

    .roadmap__item-3 {
        margin-top: 131px;
        border-left: 2px solid #26cc99;

        @include respond(phone) {
            margin-top: 5rem;
        }

        .roadmap__time {
            color: #26cc99;
            top: -23px;
            left: -7px;

            @include respond(phone) {
                top: -18px;
            }

            .dot {
                background-color: #26cc99;
                margin-right: 7px;
            }
        }

        .roadmap__title {
            background-color: #26cc99;
        }
    }

    .roadmap__item-4 {
        border-left: 2px solid #fbc329;

        @include respond(phone) {
            margin-top: 14rem;
            margin-bottom: 2rem;
        }

        .roadmap__time {
            color: #fbc329;
            bottom: -23px;
            left: -7px;

            @include respond(phone) {
                bottom: -20px;
            }

            .dot {
                background-color: #fbc329;
                margin-right: 7px;
            }
        }

        .roadmap__title {
            background-color: #fbc329;
        }

        .roadmap__detail {
            @include respond(phone) {
                height: 305px;
            }
        }
    }

    .roadmap__item-5 {
        margin-top: 131px;
        border-left: 2px solid #23b0d1;

        @include respond(phone) {
            margin-top: 5rem;
        }

        .roadmap__time {
            color: #23b0d1;
            top: -23px;
            left: -7px;

            @include respond(phone) {
                top: -18px;
            }

            .dot {
                background-color: #23b0d1;
                margin-right: 7px;
            }
        }

        .roadmap__title {
            background-color: #23b0d1;
        }
    }

    .roadmap__item-6 {
        border-left: 2px solid #eb2f96e8;

        @include respond(phone) {
            margin-top: 14rem;
            margin-bottom: 2rem;
        }

        .roadmap__time {
            color: #eb2f96e8;
            bottom: -23px;
            left: -7px;

            @include respond(phone) {
                bottom: -20px;
            }

            .dot {
                background-color: #eb2f96e8;
                margin-right: 7px;
            }
        }

        .roadmap__title {
            background-color: #eb2f96e8;
        }
    }

    .roadmap__item-7 {
        margin-top: 131px;
        border-left: 2px solid #9c27b0;

        @include respond(phone) {
            margin-top: 5rem;
        }

        .roadmap__time {
            color: #9c27b0;
            top: -23px;
            left: -7px;

            @include respond(phone) {
                top: -18px;
            }

            .dot {
                background-color: #9c27b0;
                margin-right: 7px;
            }
        }

        .roadmap__title {
            background-color: #9c27b0;
        }
    }
}
